.card {
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 0.3rem;
  font-weight: 900;
  height: 8rem;
  display: grid;
  padding: 1rem 1rem 1rem 2rem;
  grid-template: 1fr 1fr/ 1fr 1fr;
  border-radius: 1rem;
  background: linear-gradient(
    to right,
    #d97706 0%,
    #d97706 1%,
    rgba(14, 164, 233, 0.01) 1.5%
  );
  /*border: 0rem solid rgba(3, 106, 161, 0.628);*/
  background-color: rgba(175, 6, 217, 0.15);
}

.card:hover {
  position: relative;
  top: -0.15rem;
  left: -0.15rem;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
  border-color: #d97706;
}

.cardButtons {
  grid-area: 1/2/3/3;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.card > div {
  padding-top: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: grid;
  /*border-bottom: 2px solid rgba(14, 164, 233, 0.5);
  background-color: rgba(255, 255, 255, 0.33);*/
}

.card > div:nth-child(2) {
  overflow: visible;
  padding: 0;
  border-bottom: 0px solid rgba(14, 164, 233, 0.5);
  background-color: rgba(255, 255, 255, 0);
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
}

.card > div:nth-child(3){
  border-top:2px solid #0ea5e9;
  font-style: italic;
  color: rgba(0, 0, 0, 0.568);
  padding-left: 2rem;
}

.removeBtn {
  font-size: 2rem;
  width: 2rem;
  color: #0ea5e9;
  background-color: rgba(175, 6, 217, 0);
  font-weight: 900;
}

.removeBtn:active {
  color: #d97706;
}

.readBtn {
  width: 7rem;
  color: white;
  font-weight: 900;
  padding: 0.3rem;
  border-radius: 1rem;
  background-color: #0ea5e9;
  border: 0.2rem solid rgba(3, 106, 161, 0.628);
}

.readBtn:active {
  box-shadow: 0.15rem 0.15rem 0.15rem inset rgba(3, 106, 161, 0.628);
  background-color: #d97706;
}

.bookTitle {
}
.bookAuthor {
}
