dialog {
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 65%);
  border-radius: 5%;
  width: 40rem;
  height: 20rem;
  position: absolute;
  top: 10%;
  left: 25%;
}

.formContainer {
  padding: 3rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.formContainer div {
  display: flex;
  justify-content: space-between;
}

.formContainer div p {
  font-size: 1.6rem;
  font-weight: 600;
}

.formContainer input, .sectionDescription {
  border-radius: 0.5rem;
  padding: 0.3rem;
  font-weight: bold;
  text-align: center;
  margin-left: 2rem;
  width: 20rem;
  background-color: rgba(0, 0, 0, 0.214);
  font-size: 1.6rem;
}

.btnSave,
.btnCancel {
  box-shadow: 0.15rem 0.15rem 0.15rem rgba(0, 0, 0, 0.4);
  width: 7rem;
  color: white;
  font-weight: 900;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: #0ea5e9;
  border: 0.2rem solid rgba(3, 106, 161, 0.628);
  font-size: 1.4rem;
}

.btnSave:active,
.btnCancel:active {
  box-shadow: 0.15rem 0.15rem 0.15rem inset rgba(3, 106, 161, 0.628);
  background-color: #d97706;
}

::backdrop{
  background-color: rgba(0, 0, 0, 0.6);
}

.sectionDescription {
  resize: none;
  height: 5rem;
}