.header {
  grid-template-columns: 1fr 1fr;
  background-color: white;
  box-shadow: 0rem 0.3rem 0.3rem rgb(0, 0, 0, 30%);
  grid-area: 1/2/2/3;
  display: grid;
  border-bottom: 0.3rem solid rgba(3, 106, 161, 0.628);
  height: 9rem;
}

.headerRight {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.headerRight button {
  box-shadow: 0.15rem 0.15rem 0.15rem rgba(0, 0, 0, 0.4);
  width: 17rem;
  height: 7rem;
  margin: 1rem;
  color: white;
  font-weight: 900;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #0ea5e9;
  border: 0.2rem solid rgba(3, 106, 161, 0.628);
  font-size: 2rem;
}

.headerRight button:active {
  box-shadow: 0.15rem 0.15rem 0.15rem inset rgba(3, 106, 161, 0.628);
  background-color: #d97706;
}

.headerLeft {
  padding-left: 2rem;
  padding-right: 0rem;
  display: flex;
  flex-direction: column;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  place-content: center;
}

.sectionName {
  -webkit-text-stroke: 0.13rem rgba(3, 106, 161, 0.628);

  font-size: 3rem;
  font-weight: bolder;
  color: #0ea5e9;
  text-align: center;
  align-self: center;
}
