* {
  font-family: sans-serif;
  border: 0px solid red;
  font-size: min(max(0.6vh, 0.6vw), 2rem);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body{
  height: 100%;
  width: 100%;
}

body {
  background-color: rgba(0, 0, 0, 0.15);
}

.container {
  display: grid;
  grid-template: 0fr 1fr / 0fr 1fr;
  height: 100%;
  width: 100%;
}

.library {
  grid-area: 2/2/3/3;
  padding: 2rem 2rem 2rem 2rem;
  display: inline-grid;
  grid-template-columns: repeat(auto-fit, 15rem);
  grid-template-rows: repeat(auto-fit, 20rem);
  gap: 3rem;
  overflow: auto;
}


